extends ../layout

block content
    form(method='post',action='/tasks')
        fieldset
            legend
                a(href='/tasks') 任务列表
                | /添加任务
        div.clearfix
                label 商品
                input(name='task',class='form-control',style='width:200px;')
                label 商品名称
                    input(name='task1',class='form-control',style='width:200px;')
                label 图片
                    input(name='task2',class='form-control',style='width:200px;')
                label 商品价格
                    input(name='task3',class='form-control',style='width:200px;')
                label 商品优惠
                    input(name='task4',class='form-control',style='width:200px;')
                label 商品提示
                    input(name='task5',class='form-control',style='width:200px;')
                label 评论
                    input(name='task6',class='form-control',style='width:200px;')
                label 商品尺寸
                    input(name='task7',class='form-control',style='width:200px;')
                label 商品颜色
                    input(name='task8',class='form-control',style='width:200px;')    
        div.actions(style='margin-top:20px;')
            input(type='submit',value='确　定',class='btn btn-primary')
            span &nbsp;&nbsp;
            button(type='reset',class='btn') 重　置
